/*



*/
body{
	font-family: 'Montserrat', sans-serif;

}

/* ----HEADER ---- */

header {
	background: #BBBBBB;
	padding: 20px 0px; /* Espaçamento interno*/
}

.caixa { /* codigo paraa centralizar a caixa */
	position: relative; /* dica pra arrumar posição de acordo com a caixa div*/
	width: 940px;
	margin: 0 auto; /* melhor técnica para alinhar uma div ao centro*/
}
nav{
	position: absolute;
	top: 110px;
	right: 0px;

}

nav li{ /* só vai altera <li> que esteja dentro de uma nav */
	display: inline;
	margin-left: 20px;

}

nav a {
	text-transform: uppercase;
	color: #000000;
	font-weight: bold;
	font-size: 22px;
	text-decoration: none;

}

nav a:hover { /* estados do mouse */
	color: #C78C79;
	text-decoration: underline; /* sublinhado */

}
/* ------------FORM-------------- */



form label, form legend {
	font-size: 20px;
	margin: 0 0 10px;
	padding-top: 10px;
	display: block;

}


.input{
	display: block;
    margin: 0 0 20px;
    padding: 10px 25px;
    
}

.enviar {
	width: 40%;
	padding: 15px 0px;
	margin-bottom: 40px;
	background-color: orange;
	color: white;
	font-weight: bold; /* negrito */
	font-size: 18px;
	border: none;
	border-radius: 5px; /*lembre bem legal*/
	transition: 1s all;

}

.enviar:hover {
	background: red;
	/*transform: scale(1.2); quando queremos só uma transformação*/
	transform: rotate(70deg) scale(1.2); /* faz os 2 ao mesmo tempo */

}


thead {
	background-color: #555555;
	color: white;
	font-weight: bold;
}

td, th {
	border: 1px solid #000000;
	padding: 8px 15px;
}
/*--------FOOTER------------------*/

footer{
	text-align: center;
	background: url(imagens/bg.jpg);
	padding: 40px 0;
}

.copyright{
	color: #FFFFFF;
	font-size: 13px;
	margin: 20px 0;
}


.checkbox{
	margin: 20px 0px;
}


/*---------------MEDIA--------------*/
@media screen and (max-width: 480px) { /* tamanho da tela */
	
	.centrelizado{
		width: 100%;
	}

	table{
		width: 100%;
	}

	h1{
		text-align: center;
	}

	.caixa{
		width: auto;
	}


	nav{
		position: static;
		 
	}

	

	textarea{
		width: 100%;
	}
	.enviar{
		width: 100%;
	}
}

@media screen and (max-width: 720px) { /* tamanho da tela */
	form{

	}

	h1{
		text-align: center;
	}

	.caixa{
		width: auto;
	}


	nav{
		position: static;
		 
	}

	

	textarea{
		width: 100%;
	}
	.enviar{
		width: 100%;
	}
}
	
@media screen and (max-width: 1080px) { /* tamanho da tela */
	form{

	}

	h1{
		text-align: center;
	}

	.caixa{
		width: auto;
	}


	nav{
		position: static;
		 
	}

	

	textarea{
		width: 100%;
	}
	.enviar{
		width: 100%;
	}
}
	
	
	
